data/*.csv
venv*
*.pl
*CRF3_config.json
__pychache__/*
*.db
*.html
NER_DEV/*
*.zip
*.feather
*.pt
L_NER_old_not_kept/*
*~
*.pyc
RR/Data/*.csv
RR/vecteurs/sentence_transformers/eval_use
RR/ngrams
/*.csv